creating a Data pipeline
Creating SQL Schema
SQL-Schema should be a Star Schema
Data Processing
Data Transformation
Use Python pandas to cleaning and processing

create pipeline in airflow

create each task in airflow using python
